body {
    color: f6f6f6;
    background-color: azure;
    margin: 0px;
    padding: 0px;
}

.navbar {
    padding: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        list-style: none;
        
        display: flex;
    }

    li {
        padding: 5px;
    }
}

.content {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
}